.wrapper {
  min-height: 100vh;
  /* padding: 40px 20px; */
  background-color: #080707;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  color: white;
  text-align: center;
  margin-bottom: 32px;
}

.eventsList {
  display: grid;
  gap: 24px;
  max-width: 600px;
  width: 100%;
}

.eventCard {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background-color: #080707;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
}

.eventCard:hover {
  transform: scale(1.03);
  cursor: pointer;
}

/* Градієнтна рамка */
.eventCard::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(
    45deg,
    #ff0000,
    /* #ff9900,
    #33cc33, */ /* #00ccff, */ #6600ff,
    #ff00cc,
    #ff0000
  );
  background-size: 400%;
  border-radius: 22px;
  z-index: -1;
  animation: gradientBorder 8s linear infinite;
}

.eventCard::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #080707;
  border-radius: 18px;
  z-index: -1;
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.eventTitle {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

.eventDate,
.eventLocation {
  color: #a1a1a1;
  font-size: 14px;
}
