.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.header button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}

.header button:hover {
  background: white;
  color: black;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.3);
  max-width: 600px;
}

.day {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.day:hover {
  background: #007bff;
  color: white;
  transform: scale(1.1);
  border: 1px solid white;
}

.today {
  background: #007bff;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 15px rgba(0, 123, 255, 0.7);
  border: 2px solid white;
}
