.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  background: black;
  height: 100vh;
  padding: 40px;
}

.selectedDateBlock {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  color: white;
  text-align: center;
  max-width: 250px;
  font-size: 1.5rem;
}

.selectedDateBlock h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.selectedDateBlock p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.selectedDateBlock button {
  background: #007bff;
  border: none;
  padding: 15px 30px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.selectedDateBlock button:hover {
  background: #0056b3;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 1400px; /* Сделали шире */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.header h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.header button {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.header button:hover {
  color: gray;
}

.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-bottom: 10px;
}

.weekDay {
  text-align: center;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  width: 100%;
  height: 75%; /* Чуть меньше высота */
}

.day,
.emptyDay {
  width: 100%;
  height: 110px; /* Уменьшили высоту */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

.day {
  cursor: pointer;
}

.day:hover {
  background: rgba(255, 255, 255, 0.2);
}

.today {
  background: #007bff;
  color: white;
  box-shadow: 0px 2px 20px rgba(0, 123, 255, 0.7);
}
