@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

.container {
  background-color: #080707;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 60px;
  flex: 1;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.right {
  flex: 1;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.logo {
  width: 70%;
  height: auto;
}

/* Заголовок */
.right h1 {
  font-size: 40px;
  margin-bottom: 80px;
  line-height: 1.4;
  padding: 0 30px;
  font-weight: 400;
  background: linear-gradient(90deg, #00ffe7, #ff00d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

/* Кнопка з градієнтною рамкою */
.right button {
  position: relative;
  background-color: black;
  color: white;
  border: none;
  padding: 24px 36px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.2s ease;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.right button:hover {
  transform: scale(1.05);
}

.right button::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff9900,
    #33cc33,
    #00ccff,
    #6600ff,
    #ff00cc,
    #ff0000
  );
  background-size: 400%;
  border-radius: 22px;
  z-index: -1;
  animation: gradientBorder 8s linear infinite;
}

.right button::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: black;
  border-radius: 18px;
  z-index: -1;
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
