.navbar {
  background-color: black;
  color: white;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.buttons button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.7s ease;
}

.buttons button:hover {
  color: rgb(202, 117, 117);
}

/* 🌞 Світла тема */
.light .navbar {
  background-color: #ffffff;
  color: #111;
  border-bottom: 1px solid #ddd;
}

.light .buttons button {
  color: #111;
}

.light .buttons button:hover {
  color: #b82f2f;
}
